@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

html {
  width: auto;
  min-height: 100%;
}

ul#example {
  list-style: none;
  margin: 15px 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul#example li {
  display: inline-block;
}

ul#example li span {
  font-size: 50px;
  font-weight: 200;
  line-height: 50px;
}

ul#example li.seperator {
  font-size: 50px;
  line-height: 40px;
  vertical-align: top;
}

ul#example li p {
  color:	#F0FFF0;
  font-size: 15px;
}

nav {
  position: fixed;
  top: 0;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}

.map {
  position: relative;
  text-align: center;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.part {
  opacity: 0;
}

#Cow105,#Cow109,#Cow203,#Cow204,#Cow205,#Cow206,#Cow207,#Cow208,#Cow211,#Cow212,#Cow213,#Cow216,#Cow218,#Cow219,#Cow220,#Cow303,#Cow304,#Cow305,#Cow306,#Cow307,#Cow308,#Cow311,#Cow312,#Cow313,#Cow316,#Cow318,#Cow319,#Cow320,#Cow403,#Cow404,#Cow405,#Cow406,#Cow407,#Cow408,#Cow411,#Cow412,#Cow413,#Cow416 {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  margin-top: 7rem;
  margin-left: 13rem;
  max-width: 100%;
  width: 240px;
  height: auto;
  background: rgba(220, 220, 220, 0.9);
  border-radius: 20px;
  padding: 20px;
}


.part:hover {
  transition: opacity 0.2s ease;
  opacity: 0.5;
  cursor: pointer;
}

main {
  margin-top: 10rem;
}

#carouselExampleIndicators {
  width: 850px;
  margin:0 auto;
  display: table;
}

body {
  background-image: url(https://universiadevillage.ru/img/DU-about.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

footer {
  display: flex;
  height: auto;
  padding: 2rem 0; /* Поля вокруг текста */
  background: #333333; /* Цвет фона */
  color: #fff; /* Цвет текста */
  margin-top: 30rem;
  flex: 0 0 auto;
}
