html {
  width: auto;
  min-height: 100%;
}

header {
  background: url(https://universiadevillage.ru/img/DU-about.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 230px;
}

nav {
  position: fixed;
  top: 0;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}

main {
  margin-top: 4rem;
}


main1 {
  margin-top: 3rem;
}

body {
  height: 100%;
  background-color: #F0FFF0;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

card {
  margin-top: 2rem;
}

h1 {
  margin-top: 8rem;
}

footer {
  display: flex;
  height: auto;
  padding: 2rem 0; /* Поля вокруг текста */
  background: #333333; /* Цвет фона */
  color: #fff; /* Цвет текста */
  margin-top: 30rem;
  flex: 0 0 auto;
}
