<!doctype html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS\style2.css' %}">

    <link rel="shortcut icon" href="{% static 'CSS/logo5.png' %}"  width="50" height="50" type="image/png">
    <title>Главная</title>
  </head>

  <body>

    <!-- Навигация -->
    <nav class="navbar navbar-expand-md navbar-inverse navbar-fixed-top
    navbar-light bg-light justify-content-center">
      <a class="navbar-brand" href="index0.html">
        <img src="{% static 'CSS/logo5.png' %}"  width="65" height="65" alt="Логотип">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index0.html">Домой<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index0.html">Подробно</a>
          </li>
           {% if user.is_authenticated == True %}
            <a href="index1.html" class="btn btn-info btn-lg">
              Вернуться к тесту
            </a>
          {% endif %}



        </ul>

        {% if user.is_authenticated == False %}
          <button type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#myModal">
            Авторизация
          </button>
        {% endif %}

        <!-- Авторизация -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Вход</h4>
              </div>
              <div class="modal-body">
                <form name="auth" method="POST" >
                        {% csrf_token %}
                  <div class="form-group">
                    <label for="username">ФИО:</label>
                    <input type="text" class="form-control" id="username" name ="username"
                     aria-describedby="emailHelp" placeholder="Введите свое ФИО">
                    <small id="emailHelp" class="form-text text-muted"></small>
                  </div>
                  <!-- <div class="form-group">
                    <label for="InputPassword">Пароль</label>
                    <input type="password" class="form-control"
                     id="InputPassword" placeholder="Введите пароль">
                  </div> -->
                  <div class="modal-footer">

                    {% if  login_error %}
                      <div>
                        <font color="Crimson">
                          <ins>
                            <small>
                        <small>
                          <label class="error">{{login_error}}</label> <br>
                          </small>
                              </small>
                          </ins>
                        </font>
                      </div>
                    {% endif %}

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        {% if user.is_authenticated == True %}
          Вы авторизованы как: {{user.username}}
         {% if user.is_superuser == True %}
          - (суперпользователь)
        <a style="margin-left: 1rem;" class="btn btn-danger btn-lg" href="/createDATA"><small>Добавить пользователей с файла</small></a>
          {% endif %}
        <a style="margin-left: 1rem;" class="btn btn-danger btn-lg" href="/logout">Выйти</a>

        {% endif %}


      </div>
    </nav>

    <!-- Header -->
    <header class="header"></header>

    <!-- Подробно -->
    <main class="main align-self-center" align="middle">
        <div class="col-lg-12" align="middle">
            {% if user.is_superuser == True %}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <div class="card-header"><h2>Введите дату вывода результатов</h2></div>
           <form name="data" method="POST" action="/newDATATIME">
                    {% csrf_token %}
             <fieldset>
                  <legend> Введите новый год </legend>
                   <input required="" type="text" name="year1">
                </fieldset>

              <fieldset>
                  <legend> Введите новый месяц </legend>
                   <input required="" type="text" name="month1">
                </fieldset>
              <fieldset>
                  <legend> Введите новый день </legend>
                   <input required="" type="text" name="day1">
                </fieldset>
             <br>
                  <div class="card-footer" align="middle">
                  <button class="submit btn btn-danger text-align-center">Завершить</button>
                  </div>
           </form>
          {% endif %}

              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-5">
            <h1 align="middle">
              Сначала ознакомьтесь с проектом
            </h1>
          </div>

          <div class="col-lg-7" style="margin-top: 3rem;">
            <div class="card" >
              <div class="card-header"><h3>Подробно о проекте</h3></div>
              <div class="card-body">
                <p><font size="5">
                  Проект предназначен для студентов ИТИС, которые заселяются в общежитие.
                  Веб-приложение подбирает соседей исходя из ваших препочтений или позволяет
                  выбрать людей из существующего списка.
                  Важно:
                  нужно чтобы тест был заполнен исходя из собственных предпочтений для того, чтобы
                  получить максимально удовлетворительный результат.
                  Если Вы нашли соседа (соседей), уточните их полное ФИО для корректного
                  заполнения теста.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <h2 align="middle" style="margin-top: 5rem;">
      Инструкция для пользователей
    </h2>

    <main class="main1 align-self-center" align="middle">
      <div class="container" align="middle">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12" style="margin-top: 3rem;">
            <div class="card" style="height: 27.69rem">
              <div class="card-body">
                <p class="card-text">
                  1) Для начала Вам нужно авторизироваться в системе, чтобы
                  пройти анкету.
                </p>
                <img class="card-img-bottom" src="{% static 'CSS/Screen3.png' %}" alt="Скриншот">
              </div>
            </div>
          </div>

          <div class="col-lg-6" style="margin-top: 3rem;">
            <div class="card">
              <div class="card-body">
                <p class="card-text">
                  2) После авторизации Вы перейдете на
                  следующую страницу с кнопкой "Приступить".
                </p>
                <img src="{% static 'CSS/Screen1.png' %}" class="card-img-bottom" alt="Скриншот">
              </div>
            </div>
          </div>
          <div class="col-lg-12"><h1></h1></div>
          <div class="col-lg-12 col-sm-12" style="margin-top: 0rem;">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                3) Далее нужно будет пройти тест, который определит
                с кем в итоге вы окажитесь в одной комнате.
                Нажав кнопку "Завершить", данные будут обработаны,
                и в скором времени будет показан результат.
              </p>
              <img class="card-img-bottom" src="{% static 'CSS/Screen4.png' %}" style="width: 60%" alt="Скриншот">
            </div>
          </div>
          </div>
        </div>
      </div>
    </font>
    </main>

   <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3>Распределение по комнатам</h3>
            <p>Специальное Веб-приложение, созданное для упрощения заселения студентов
            в общежития Деревни Универсиады</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3>Контакты</h3>
            <address>
              <b>КФУ, ИТИС</b><br>
              Адрес: ул. Кремлевская, 35, Казань, Респ. Татарстан, 420008<br>
              Номер: 233-79-91
            </address>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6">
           <h3>Навигация</h3><font size="4">
           <p></p>
           <p><a href="index0.html">Домой</a></p>
           <p><a href="index0.html">Подробно</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  </body>
</html>
