<!doctype html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS\style.css' %}">

    <link rel="shortcut icon" href="{% static 'CSS/logo5.png' %}" width="50" height="50" type="image/png">
    <title>Анкета пользователя</title>
  </head>

  <body>

    <!-- Навигация -->
    <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-center">
      <a class="navbar-brand" href="index0.html">
        <img src="{% static 'CSS/logo5.png' %}"  width="65" height="65" alt="Логотип">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index0.html">Домой<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index0.html">Подробно</a>
          </li>
        </ul>

        {% if user.is_authenticated == True %}
          Вы авторизованы как: {{user.username}}
          <a style="margin-left: 1rem;" class="btn btn-danger btn-lg" href="/logout">Выйти</a>
        {% endif %}

      </div>
    </nav>

    <!-- Анкета -->

    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Внимание!</h4>
      <p>В конце анкеты Вы должны будете или закрыть анкету без возможности редактирования или не закрывать.
        Если Вы выберете ответ "Да", то больше не сможете проходить
        анкету. Только, обратившись к администратору доступ к анкете будет восстановлен.</p>
      <hr>
      <p class="mb-0">Если Вы выберет ответ "Нет", то  Вы рискуете тем,
        что кто-то сможет переписать анкету за вас.</p>
    </div>

    <main class="main align-self-center">

      <div class="container">
        <div class="row">

        <div class="col-lg-2">

        </div>

        <div class="col-lg-8">

          <div class="card">

            <div class="card-header" align="middle">
              <div class="h3 text-align-center">Анкета пользователя</div>
            </div>
            <div class="card-body">
              <form name="forma1" method="POST" action="/create">
                {% csrf_token %}
                <fieldset>
                  <legend> 1) Выберете свой пол: </legend>
                    1. <input required="" type="radio" name="otvet0" value="M"> Мужчина <br>
                    2. <input type="radio" name="otvet0" value="W"> Женщина <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 2) Напишите номер своей группы:
                    <input style="font-size: 1rem;"
                           required="" type="text" name="group" aria-lable="group" id="group" pattern="\b\d{2}-((\d{3})|(\d{4}))\b" title="введите номер группы в формате '11-911'"></input>
                  </legend>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 3) Напишите фамилии и имена тех, с кем хотели бы жить вместе (до 3 человек): </legend>
                     <input type="text" name="neighbour1" aria-lable="neighbour1" id="neighbour1" pattern="(([А-Я]{1}[а-яё]+\s){2}[А-Я]{1}[а-яё]+)">
                    <input type="text" name="neighbour2" aria-lable="neighbour2" id="neighbour2" pattern="(([А-Я]{1}[а-яё]+\s){2}[А-Я]{1}[а-яё]+)">
                    <input type="text" name="neighbour3" aria-lable="neighbour3" id="neighbour3" pattern="(([А-Я]{1}[а-яё]+\s){2}[А-Я]{1}[а-яё]+)">
                      <p><span clamanss="placeholder">(если соседей нет, игнорировать поля)</span></p>
                    </input>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 4) Напишите фамилии и имена тех, с кем НЕ
                     хотели бы жить вместе (до 3 человек): </legend>
                    <input type="text"
                           name="neighbour4" aria-lable="neighbour4" id="neighbour4" pattern="(([А-Я]{1}[а-яё]+\s){2}[А-Я]{1}[а-яё]+)">
                    <input type="text"
                           name="neighbour5" aria-lable="neighbour5" id="neighbour5" pattern="(([А-Я]{1}[а-яё]+\s){2}[А-Я]{1}[а-яё]+)">
                    <input type="text"   name="neighbour6" aria-lable="neighbour6" id="neighbour6" pattern="(([А-Я]{1}[а-яё]+\s){2}[А-Я]{1}[а-яё]+)">
                      <p><span class="placeholder">(если соседей нет, игнорировать поля)</span></p>
                    </input>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 5) Слушаете ли Вы громко музыку? </legend>
                  1. <input required="" type="radio" name="otvet1" value="Да"> Да <br>
                  2. <input type="radio" name="otvet1" value="Нет"> Нет <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 6) Играете ли Вы на музыкальных инструментах? </legend>
                  1. <input required="" type="radio" name="otvet2" value="Да"> Да <br>
                  2. <input type="radio" name="otvet2" value="Нет"> Нет <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 7) Много ли времени Вы уделяете компьютерным играм? </legend>
                  1. <input required="" type="radio" name="otvet3" value="Да"> Да <br>
                  2. <input type="radio" name="otvet3" value="Нет"> Нет <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 8) Можете ли Вы назвать себя спортсменом? </legend>
                  1. <input required="" type="radio" name="otvet4" value="Да"> Да <br>
                  2. <input type="radio" name="otvet4" value="Нет"> Нет <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 9) Готовы ли Вы заниматься учёбой в свободное время? </legend>
                  1. <input required="" type="radio" name="otvet5" value="Да"> Да <br>
                  2. <input type="radio" name="otvet5" value="Нет"> Нет <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 10) Курите ли Вы в настоящее время? </legend>
                  1. <input required="" type="radio" name="otvet6" value="Да"> Да <br>
                  2. <input type="radio" name="otvet6" value="Нет"> Нет <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 11) Имеется ли у Вас степень инвалидности? </legend>
                  1. <input required="" type="radio" name="otvet21" value="Да"> Да <br>
                  2. <input type="radio" name="otvet21" value="Нет"> Нет <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 12) Используете ли Вы электронную сигарету? </legend>
                  1. <input required="" type="radio" name="otvet7" value="Да"> Да <br>
                  2. <input type="radio" name="otvet7" value="Нет"> Нет <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 13) Часто ли Вы отдыхаете на выходных с друзьями? </legend>
                  1. <input required="" type="radio" name="otvet8" value="Да"> Да <br>
                  2. <input type="radio" name="otvet8" value="Нет"> Нет <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 14) Кто Вы: интроверт или экстраверт? </legend>
                  1. <input required="" type="radio" name="otvet9" value="Интроверт"> Интроверт
                  (Такие люди не нуждаются в постоянном общении и, более того, сторонятся его) <br>
                  2. <input type="radio" name="otvet9" value="Экстраверт"> Экстраверт
                  (Это человек, для которого жизнь без активного взаимодействия с обществом немыслима) <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 15) Жаворонок ли Вы или сова? </legend>
                  1. <input required="" type="radio" name="otvet10" value="Жаворонок"> Жаворонок
                   (Ложусь до 12 ночи и редко сплю днём)  <br>
                  2. <input type="radio" name="otvet10" value="Сова"> Сова (Ложусь после 12 ночи и часто сплю днём) <br>
                </fieldset>
                <br>
                <fieldset>
                  <legend> 16) При наличии какого параметра у человека, Вы НЕ
                    сможете жить вместе? Отметьте галочками: </legend>

                  <div class="custom-control custom-checkbox">
                    <input type="hidden" name="otvet11" value="Нет">
                    <input type="checkbox" name="otvet11" value="Да" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Спортсмен</label>
                  </div>

                  <div class="custom-control custom-checkbox">
                    <input type="hidden" name="otvet12" value="Нет">
                    <input type="checkbox" name="otvet12" value="Да" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">Геймер</label>
                  </div>

                  <div class="custom-control custom-checkbox">
                    <input type="hidden" name="otvet13" value="Нет">
                    <input type="checkbox" name="otvet13" value="Да" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">Музыкант</label>
                  </div>

                  <div class="custom-control custom-checkbox">
                    <input type="hidden" name="otvet14" value="Нет">
                    <input type="checkbox" name="otvet14" value="Да" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Курильщик</label>
                  </div>

                  <div class="custom-control custom-checkbox">
                    <input type="hidden" name="otvet15" value="Нет">
                    <input type="checkbox" name="otvet15" value="Да" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">Экстраверт</label>
                  </div>

                  <div class="custom-control custom-checkbox">
                    <input type="hidden" name="otvet16" value="Нет">
                    <input type="checkbox" name="otvet16" value="Да" class="custom-control-input" id="customCheck6">
                    <label class="custom-control-label" for="customCheck6">Интроверт</label>
                  </div>

                </fieldset>

                <br>
                <fieldset>
                  <legend> 17) Закрыть анкету без возможности дальнейшего редактирования? </legend>
                  1. <input data-placement="top" title="Если Вы выберете этот вариант, то больше не сможете проходить анкету. Только, обратившись к администратору доступ к анкете будет восстановлен." required="" type="radio" name="otvet22" value="Да"> Да<br>
                  2. <input data-placement="top" title="Внимание! Оставляя этот вариант ответа, Вы рискуете тем, что кто-то сможет переписать анкету за вас." type="radio" name="otvet22" value="Нет"> Нет <br>
                </fieldset>
                <br>
                <div class="card-footer" align="middle">
                  <button class="submit btn btn-danger text-align-center">Завершить</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-2"></div>

        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3>Распределение по комнатам</h3>
            <p>Специальное Веб-приложение, созданное для упрощения заселения студентов
            в общежития Деревни Универсиады</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3>Контакты</h3>
            <address>
              <b>КФУ, ИТИС</b><br>
              Адрес: ул. Кремлевская, 35, Казань, Респ. Татарстан, 420008<br>
              Номер: 233-79-91
            </address>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3>Навигация</h3><font size="4">
            <p></p>
            <p><a href="index0.html">Домой</a></p>
            <p><a href="index0.html">Подробно</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  </body>
</html>
