<!doctype html>
{% load static %}
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style3.css' %}">
    <link rel="shortcut icon" href="{% static 'CSS/logo5.png' %}" width="50" height="50" type="image/png">
    <title>Результат</title>
  </head>

  <body>

    <!-- Навигация -->

    <nav class="navbar navbar-expand navbar-light bg-light justify-content-center">
      <a class="navbar-brand" href="index0.html">
        <img src="{% static 'CSS/logo5.png' %}" width="65" height="65" alt="Логотип">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index0.html">Домой<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index0.html">Подробно</a>
          </li>

        </ul>

        {% if user.is_authenticated == False %}
        <button type="button" class="btn btn-primary"
            data-toggle="modal" data-target="#myModal">
            Авторизация
          </button>
         <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Вход</h4>
              </div>
              <div class="modal-body">
                <form name="auth" method="POST" >
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="username">ФИО:</label>
                    <input type="text" class="form-control" id="username" name ="username"
                     aria-describedby="emailHelp" placeholder="Введите свое ФИО">
                    <small id="emailHelp" class="form-text text-muted"></small>
                  </div>

                  <div class="modal-footer">

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {% if user.is_authenticated == True %}
          Вы авторизованы как: {{user.username}}
        <a style="margin-left: 1rem;" class="btn btn-danger btn" href="/logout">Выйти</a>

        {% endif %}

      </div>
    </nav>

    <!-- Карусель и блок слева -->
    <main class="main">
      <div class="col-lg-12" align="middle">
            {% if user.is_superuser == True %}
            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <div class="card-header"><h2>Введите дату вывода результатов</h2></div>
           <form name="data" method="POST" action="/newDATATIME">
                    {% csrf_token %}
             <fieldset>
                  <legend> Введите новый год </legend>
                   <input required="" type="text" name="year1">
                </fieldset>

              <fieldset>
                  <legend> Введите новый месяц </legend>
                   <input required="" type="text" name="month1">
                </fieldset>
              <fieldset>
                  <legend> Введите новый день </legend>
                   <input required="" type="text" name="day1">
                </fieldset>
             <br>
                  <div class="card-footer" align="middle">
                  <button class="submit btn btn-danger text-align-center">Завершить</button>
                  </div>
           </form>
          {% endif %}

              </div>
            </div>
          </div> <br>
      <div class="container">
        <div class="row">

          <div class="col-3">
            <div class="card" style="height: auto">
              <div class="card-header" align="middle">
                <h4>Результат</h4>
              </div>
 {% for rooms,Persons in data.Room.items %}
                    {% for i in Persons %}

              {% if i.room == 105 %}
              <div id="Cow105">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



               {% if i.room == 109 %}
               <div id="Cow109">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 203 %}
              <div id="Cow203">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 204 %}
              <div id="Cow204">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 205 %}
              <div id="Cow205">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 206 %}
              <div id="Cow206">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 207 %}
              <div id="Cow207">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 208 %}
              <div id="Cow208">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 211 %}
              <div id="Cow211">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 212 %}
              <div id="Cow212">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 213 %}
              <div id="Cow213">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 216 %}
              <div id="Cow216">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 218 %}
              <div id="Cow218">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 219 %}
              <div id="Cow219">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 220 %}
              <div id="Cow220">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 303 %}
              <div id="Cow303">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 304 %}
              <div id="Cow304">
                <font size="5">

                   <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 305 %}
              <div id="Cow305">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 306 %}
              <div id="Cow306">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 307 %}
              <div id="Cow307">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 308 %}
              <div id="Cow308">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 311 %}
              <div id="Cow311">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 312 %}
              <div id="Cow312">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 313 %}
              <div id="Cow313">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 316 %}
              <div id="Cow316">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 318 %}
              <div id="Cow318">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 319 %}
              <div id="Cow319">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 320 %}
              <div id="Cow320">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 403 %}
              <div id="Cow403">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 404 %}
              <div id="Cow404">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 405 %}
              <div id="Cow405">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 406 %}
              <div id="Cow406">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 407 %}
              <div id="Cow407">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 408 %}
              <div id="Cow408">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 411 %}
              <div id="Cow411">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 412 %}
              <div id="Cow412">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 413 %}
              <div id="Cow413">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}



              {% if i.room == 416 %}
              <div id="Cow416">
                <font size="5">

                  <p>
                    <strong> Номер комнаты: {{i.room}}</strong>
                  </p>
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}

                </font>
              </div>
              {% endif %}


              {% endfor %}
              {% endfor %}



              <div class="card-body"><font size="5">
                <p class="card-text">
                  <strong> Вы: </strong> {{user.username}}
                </p>
                 <p><strong> Ваша комната: </strong></p>
                  {% for rooms, Persons in data.Room.items %}
                    {% for i in Persons %}
                      {% if i.FIO == user.username %}
                        {% for i1 in Persons %}
                  <p>{{ forloop.counter }}) {{i1}}</p>
                        {% endfor %}
                  <p>
                    <strong> Номер вашей комнаты: {{i.room}}</strong>
                  </p>
                      {% endif %}
                        {% endfor %}
                          {% endfor %}


                    </font>
              </div>
            </div>
          </div>

          <div class="col-8">

          <div id="carouselExampleIndicators" align="middle" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators"  data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">

              <div class="carousel-item active">
                <div class="card col-4">
                  <h3>Этаж 1, Блок 1.1</h3>
                </div>

                <div class="map">

                  <svg viewBox="0 0 238.12501 132.29167">

                    <g onmouseover="document.getElementById('Cow105').style.opacity=1"
                    onmouseout="document.getElementById('Cow105').style.opacity=0">

                      <path id="path105" class="part" d="m 205.7,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow109').style.opacity=1"
                    onmouseout="document.getElementById('Cow109').style.opacity=0">
                      <path id="path109" class="part" d="m 98.51988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                      </g>


                  </svg>

                  <img class="d-block w-100" src="{% static 'CSS/Block-1.1.png'%}" alt="Слайд">
                </div>

              </div>

              <!-- Этаж 2, Блок 2.1 -->

              <div class="carousel-item">
                <div class="card col-4">
                  <h3>Этаж 2, Блок 2.1</h3>
                </div>

                <div class="map">

                  <svg viewBox="0 0 238.12501 132.29167">

                    <g onmouseover="document.getElementById('Cow203').style.opacity=1"
                    onmouseout="document.getElementById('Cow203').style.opacity=0">

                      <path id="part203" class="part" d="m 134,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow204').style.opacity=1"
                    onmouseout="document.getElementById('Cow204').style.opacity=0">
                      <path id="part204" class="part" d="m 170,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow205').style.opacity=1"
                    onmouseout="document.getElementById('Cow205').style.opacity=0">
                      <path id="part205" class="part" d="m 205.7,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow206').style.opacity=1"
                    onmouseout="document.getElementById('Cow206').style.opacity=0">
                      <path id="part206" class="part" d="m 205.41988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow207').style.opacity=1"
                    onmouseout="document.getElementById('Cow207').style.opacity=0">
                      <path id="part207" class="part" d="m 170.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow208').style.opacity=1"
                    onmouseout="document.getElementById('Cow208').style.opacity=0">
                      <path id="part208" class="part" d="m 134.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>

                    </g>

                  </svg>

                  <img class="d-block w-100" src="{% static 'CSS/Block-2.1.png'%}" alt="Слайд">
                </div>

              </div>

              <!-- Этаж 2, Блок 2.2 -->

              <div class="carousel-item">
                <div class="card col-4">
                  <h3>Этаж 2, Блок 2.2</h3>
                </div>

                <div class="map">

                  <svg viewBox="0 0 238.12501 132.29167">

                    <g onmouseover="document.getElementById('Cow216').style.opacity=1"
                    onmouseout="document.getElementById('Cow216').style.opacity=0">

                      <path id="part216" class="part" d="m 62.532274,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow218').style.opacity=1"
                    onmouseout="document.getElementById('Cow218').style.opacity=0">
                      <path id="part218" class="part" d="m 134,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow219').style.opacity=1"
                    onmouseout="document.getElementById('Cow219').style.opacity=0">
                      <path id="part219" class="part" d="m 170,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow220').style.opacity=1"
                    onmouseout="document.getElementById('Cow220').style.opacity=0">
                      <path id="part220" class="part" d="m 205.7,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow213').style.opacity=1"
                    onmouseout="document.getElementById('Cow213').style.opacity=0">
                      <path id="part213" class="part" d="m 134.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                    </g>
                      <g onmouseover="document.getElementById('Cow212').style.opacity=1"
                    onmouseout="document.getElementById('Cow212').style.opacity=0">
                      <path id="part212" class="part" d="m 170.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                      </g>
                    <g onmouseover="document.getElementById('Cow211').style.opacity=1"
                    onmouseout="document.getElementById('Cow211').style.opacity=0">
                      <path id="part211" class="part" d="m 205.41988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>

                    </g>

                  </svg>

                  <img class="d-block w-100" src="{% static 'CSS/Block-2.2.png'%}" alt="Слайд">
                </div>

              </div>

              <!-- Этаж 3, Блок 3.1 -->

              <div class="carousel-item">
                <div class="card col-4">
                  <h3>Этаж 3, Блок 3.1</h3>
                </div>

                <div class="map">

                  <svg viewBox="0 0 238.12501 132.29167">

                    <g onmouseover="document.getElementById('Cow303').style.opacity=1"
                    onmouseout="document.getElementById('Cow303').style.opacity=0">

                      <path id="part303" class="part" d="m 134,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow304').style.opacity=1"
                    onmouseout="document.getElementById('Cow304').style.opacity=0">
                      <path id="part304" class="part" d="m 170,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow305').style.opacity=1"
                    onmouseout="document.getElementById('Cow305').style.opacity=0">
                      <path id="part305" class="part" d="m 205.7,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow306').style.opacity=1"
                    onmouseout="document.getElementById('Cow306').style.opacity=0">
                      <path id="part306" class="part" d="m 205.41988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow307').style.opacity=1"
                    onmouseout="document.getElementById('Cow307').style.opacity=0">
                      <path id="part307" class="part" d="m 170.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                    </g>
                    <g onmouseover="document.getElementById('Cow308').style.opacity=1"
                    onmouseout="document.getElementById('Cow308').style.opacity=0">
                      <path id="part308" class="part" d="m 134.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>

                    </g>

                  </svg>

                  <img class="d-block w-100" src="{% static 'CSS/Block-3.1.png'%}" alt="Слайд">
                </div>

              </div>

              <!-- Этаж 3, Блок 3.2 -->

              <div class="carousel-item">
                <div class="card col-4">
                  <h3>Этаж 3, Блок 3.2</h3>
                </div>

                <div class="map">

                  <svg viewBox="0 0 238.12501 132.29167">

                    <g onmouseover="document.getElementById('Cow316').style.opacity=1"
                    onmouseout="document.getElementById('Cow316').style.opacity=0">

                      <path id="part316" class="part" d="m 62.532274,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"</path>
                    </g>
                    <g onmouseover="document.getElementById('Cow318').style.opacity=1"
                    onmouseout="document.getElementById('Cow318').style.opacity=0">
                      <path id="part318" class="part" d="m 134,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                     <g onmouseover="document.getElementById('Cow319').style.opacity=1"
                    onmouseout="document.getElementById('Cow319').style.opacity=0">
                      <path id="part319" class="part" d="m 170,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                     </g>
                     <g onmouseover="document.getElementById('Cow320').style.opacity=1"
                    onmouseout="document.getElementById('Cow320').style.opacity=0">
                      <path id="part320" class="part" d="m 205.7,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                     </g>
                     <g onmouseover="document.getElementById('Cow313').style.opacity=1"
                    onmouseout="document.getElementById('Cow313').style.opacity=0">
                      <path id="part313" class="part" d="m 134.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                     </g>
                          <g onmouseover="document.getElementById('Cow312').style.opacity=1"
                          onmouseout="document.getElementById('Cow312').style.opacity=0">
                      <path id="part312" class="part" d="m 170.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                          </g>
                     <g onmouseover="document.getElementById('Cow311').style.opacity=1"
                    onmouseout="document.getElementById('Cow311').style.opacity=0">
                      <path id="part311" class="part" d="m 205.41988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>

                    </g>

                  </svg>

                  <img class="d-block w-100" src="{% static 'CSS/Block-3.2.png'%}" alt="Слайд">
                </div>

              </div>

              <!-- Этаж 4, Блок 4.1 -->

              <div class="carousel-item">
                <div class="card col-4">
                  <h3>Этаж 4, Блок 4.1</h3>
                </div>

                <div class="map">

                  <svg viewBox="0 0 238.12501 132.29167">

                    <g onmouseover="document.getElementById('Cow403').style.opacity=1"
                    onmouseout="document.getElementById('Cow403').style.opacity=0">

                      <path id="part403" class="part" d="m 134,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                     <g onmouseover="document.getElementById('Cow404').style.opacity=1"
                    onmouseout="document.getElementById('Cow404').style.opacity=0">
                      <path id="part404" class="part" d="m 170,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                     </g>
                     <g onmouseover="document.getElementById('Cow405').style.opacity=1"
                    onmouseout="document.getElementById('Cow405').style.opacity=0">
                      <path id="part405" class="part" d="m 205.7,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                     </g>
                    <g onmouseover="document.getElementById('Cow406').style.opacity=1"
                    onmouseout="document.getElementById('Cow406').style.opacity=0">
                      <path id="part406" class="part" d="m 205.41988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                    </g>
                      <g onmouseover="document.getElementById('Cow407').style.opacity=1"
                    onmouseout="document.getElementById('Cow407').style.opacity=0">
                      <path id="part407" class="part" d="m 170.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                      </g>
                    <g onmouseover="document.getElementById('Cow408').style.opacity=1"
                    onmouseout="document.getElementById('Cow408').style.opacity=0">
                      <path id="part408" class="part" d="m 134.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>

                    </g>

                  </svg>

                  <img class="d-block w-100" src="{% static 'CSS/Block-4.1.png'%}" alt="Слайд">
                </div>

              </div>

              <!-- Этаж 4, Блок 4.2 -->

              <div class="carousel-item">
                <div class="card col-4">
                  <h3>Этаж 4, Блок 4.2</h3>
                </div>

                <div class="map">

                  <svg viewBox="0 0 238.12501 132.29167">

                    <g onmouseover="document.getElementById('Cow416').style.opacity=1"
                    onmouseout="document.getElementById('Cow416').style.opacity=0">

                      <path id="part416" class="part" d="m 62.532274,12.903879 1.501838,1.454886
                      0.127512,34.876088 -1.487669,1.578413 -30.150093,-0.04117 -1.430996,
                      -1.468614 -0.02835,-34.985888 1.501836,-1.399984 z"></path>
                    </g>
                       <g onmouseover="document.getElementById('Cow413').style.opacity=1"
                    onmouseout="document.getElementById('Cow413').style.opacity=0">

                      <path id="part413" class="part" d="m 134.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                       </g>
                     <g onmouseover="document.getElementById('Cow412').style.opacity=1"
                    onmouseout="document.getElementById('Cow412').style.opacity=0">
                       <!-- Комната создателя -->
                      <path id="part412" class="part" d="m 170.21988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                     </g>
                     <g onmouseover="document.getElementById('Cow411').style.opacity=1"
                    onmouseout="document.getElementById('Cow411').style.opacity=0">
                      <path id="part411" class="part" d="m 205.41988,70.070598 1.50184,1.454886
                      0.12751,34.876096 -1.48767,1.57841 -30.15009,-0.0412 -1.431,-1.46862
                      -0.0284,-34.985887 1.50184,-1.399984 z"></path>
                    </g>

                  </svg>

                  <img class="d-block w-100" src="{% static 'CSS/Block-4.2.png'%}" alt="Слайд">
                </div>

              </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Следующий</span>
            </a>
            </div>
          </div>

        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h3>Распределение по комнатам</h3>
            <p>Специальное Веб-приложение, созданное для упрощения заселения студентов
            в общежития Деревни Универсиады</p>
          </div>

          <div class="col-4">
            <h3>Контакты</h3>
            <address>
              <b>КФУ, ИТИС</b><br>
              Адрес: ул. Кремлевская, 35, Казань, Респ. Татарстан, 420008<br>
              Номер: 233-79-91
            </address>
          </div>

          <div class="col-4">
           <h3>Навигация</h3><font size="4">
           <p></p>
           <p><a href="index0.html">Домой</a></p>
           <p><a href="index0.html">Подробно</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  </body>
</html>
