<!doctype html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS\style.css' %}">
    <link rel="shortcut icon" href="{% static 'CSS/logo5.png' %}" width="50" height="50" type="image/png">
    <title>РПК</title>
  </head>

  <body>

    <!-- Навигация -->
    <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-center">
      <a class="navbar-brand" href="index0.html">
        <img src="{% static 'CSS/logo5.png' %}" width="65" height="65" alt="Логотип">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index0.html">Домой<span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="index0.html">Подробно</a>
        </li>
      </ul>

      {% if user.is_authenticated == True %}
        Вы авторизованы как: {{user.username}}
        <a style="margin-left: 1rem;" class="btn btn-danger btn-lg" href="/logout">Выйти</a>
      {% endif %}

      </div>
    </nav>

    <!-- Приступить -->
    <main class="main align-self-center" align="middle">
      <div class="container">
        <div class="row wow fadeIn">

          <div class="col-lg-3 col-md-2 col-sm-1"></div>

          <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
              <div class="card-header">
                <div class="h2 text-align-center">Распределение по комнатам</div>
              </div>
              <div class="card-body">
                <p class="lead">
                  <font size="5">
                    Отвечайте максимально точно для
                    корректного распределения
                  </font>
                </p>
              </div>
              <div class="card-footer">
                <a href="index2.html" class="btn btn-info btn-lg">
                  Приступить
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 cold-md-2 col-sm-1"></div>

        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h3>Распределение по комнатам</h3>
            <p>Специальное Веб-приложение, созданное для упрощения заселения студентов
            в общежития Деревни Универсиады</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3>Контакты</h3>
            <address>
              <b>КФУ, ИТИС</b><br>
              Адрес: ул. Кремлевская, 35, Казань, Респ. Татарстан, 420008<br>
              Номер: 233-79-91
            </address>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6">
           <h3>Навигация</h3><font size="4">
           <p></p>
           <p><a href="index0.html">Домой</a></p>
           <p><a href="index0.html">Подробно</a></p>
          </div>
        </div>
    </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  </body>
</html>
